html {
  font-size: 62.5%;
}
html body {
  background: #373737;
}
html body .App {
  width: 320px;
  height: 568px;
  border: 1px solid black;
  margin: 0 auto;
  background: radial-gradient(#373737, #222222);
  color: #F2F2F2;
}
html body .App p {
  font-size: 1.6rem;
}
.landing-wrapper {
  text-align: center;
}
.landing-wrapper h1 {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 4.6rem;
  color: #D8E7F8;
}
.landing-wrapper h4 {
  color: #67A9ED;
  font-size: 1.8rem;
  margin-bottom: 70px;
}
.landing-wrapper p {
  color: #FEC270;
}
.landing-wrapper button {
  font-size: 2.6rem;
  border-radius: 0.6rem;
}
.landing-wrapper .headline {
  margin: 0 30px;
}
.landing-wrapper .signup-btn {
  margin-bottom: 30px;
}
.landing-wrapper .signup-btn button {
  color: #A2040E;
  background: #DF6668;
  border-color: #A2040E;
}
.landing-wrapper .signup-btn button:hover {
  color: #DF6668;
  background: #A2040E;
  border-color: #DF6668;
}
.landing-wrapper .login-prompt {
  margin-bottom: 30px;
}
.landing-wrapper .login-btn button {
  color: #177F30;
  background: #94CE9C;
  border-color: #177F30;
}
.landing-wrapper .login-btn button:hover {
  color: #94CE9C;
  background: #177F30;
  border-color: #94CE9C;
}
