html {
    font-size: 62.5%;
    body {
        background: @DBG_5;
        .App {
            width: 320px;
            height: 568px;
            border: 1px solid black;
            margin: 0 auto;
            background: radial-gradient(@DBG_5, @DBG_3);
            color: @LBG_3;
            p {
                font-size: 1.6rem;
            }
        }
    }
}