.landing-wrapper {
    h4 {
        color: @LBL_2;
        font-size: 2rem;
        margin-bottom: 60px;
        @media (min-width: 470px) {
            font-size: 2.4rem;
            margin-bottom: 100px;
        }
        @media (min-width: 530px) {
            font-size: 2.4rem;
            margin-bottom: 130px;
        }
        @media (min-width: 530px) {
            font-size: 2.8rem;
            margin-bottom: 160px;
        }
    }
    p {
        color: @DYO_3;
    }
    .headline {
        margin: 0 30px;
    }
    .signup {
        margin-bottom: 10px;
    }
    .login-prompt {
        margin-bottom: 10px;
    }
    .login {
        margin-bottom: 50px;
        @media (min-width: 470px) {
            margin-bottom: 70px;
        }
        @media (min-width: 530px) {
            margin-bottom: 160px;
        }
        @media (min-width: 800px) {
            margin-bottom: 180px;
        }
    }
}