.landing-wrapper {
    text-align: center;
    h1 {
        margin-top: 70px;
        margin-bottom: 70px;
        font-size: 4.6rem;
        color: @LBL_2;
    }
    h4 {
        color: @LBL_5;
        font-size: 1.8rem;
        margin-bottom: 70px;
    }
    p {
        color: @LYO_4;
    }
    button {
        font-size: 2.6rem;
        border-radius: 0.6rem;
    }
    .headline {
        margin: 0 30px;
    }
    .signup-btn {
        margin-bottom: 30px;
        button {
            color: @DRD_2;
            background: @LRD_4;
            border-color: @DRD_2;
            &:hover {
                color: @LRD_4;
                background: @DRD_2;
                border-color: @LRD_4;
            }
        }
    }
    .login-prompt {
        margin-bottom: 30px;
    }
    .login-btn {
        button {
            color: @DGR_2;
            background: @LGR_4;
            border-color: @DGR_2;
            &:hover {
                color: @LGR_4;
                background: @DGR_2;
                border-color: @LGR_4;
            }
        }
    }
}