.profile-wrapper {
    .background-img {
        position: relative;
        top: 50px;
        margin-bottom: 20px;
        img {
            width: 100%;
            z-index: 250;
        }
        .about-txt {
            position: absolute;
            bottom: 20px;
            color: @DBG_2;
            width: 100%;
            font-weight: bold;
        }
        .mentorship {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 25px;
            background: @DBL_5;
            &:hover {
                background: @DYO_1;
            }
            h3 {
                margin-top: 3px;
                color: @LBL_2;
                &:hover {
                    color: @LRD_1;
                }
            }
        }
        @media (min-width: 500px) {
            width: 500px;
            margin: 0 auto;
        }
    }
    .profile-bar-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        background: @DBL_1;
        img {
            width: 60px;
            border-radius: 60px;
            z-index: 200;
            // margin-bottom: 10px;
        }
        .bar-info-wrapper {
            margin: 20px 0 0 10px;
            font-size: 1.2rem;
            display: flex;
            div {
                padding: 0 9px;
                &:hover {
                    background: @DGR_2;
                }
            }
            .about {
                margin-bottom: 0;
                .about-text {
                    margin-top: 18px;
                }
            }
        }
    }
}